{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <form id="my_form" action="#" method = "post">
        <div class="row">
          <input type="hidden" name="catalogName" value={{category_name}}> 
          <input type="hidden" name="itemName" value={{item_name}}> 
          <input id="imageName" type="hidden" name="imageName" value="image"> 
    </form>  
    <p><a href="{{url_for('showItem', category_name=category_name, item_name=item_name)}}">Return</a> 
    <h2>Select new image for item: <b> {{item_name}} </b> in Category: <b>{{category_name}}</b></h2>
    {% for fn in imageList %}    
        <div class="col-md-3">
          <div class="thumbnail">
              <img src="{{ url_for('send_image', filename=fn) }}" alt="{{fn}}" style="width: 72px; height: 72px;" onclick="myFunction(this);">  
              <div class="caption">
                <p>{{fn}}</p>
              </div>
            </a>
          </div>
        </div>
    {% endfor %}
</div>
<script>
    function myFunction(imgs) {
        var imageName = document.getElementById("imageName");
        imageName.value = imgs.alt;
        document.getElementById("my_form").submit()
    }
</script>
{% endblock %}