{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
	</div>
	
	<div class="row padding-top padding-bottom">
	</div>

	<div class="row grid-divider">
		<div class="col-sm-3">
			<div class="col-padding">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="list-group">
							<div class="panel-heading catheading"><h4>Categories</h4></div>
							{% for category in categories %}
								<div class="list-group-item"><a href="{{url_for('showCategoryItems', name=category.name)}}">{{category.name}}</a></div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="col-sm-8 ">
			{% if displayRecent %}
				<div class="panel-heading "><h4>Items Recently Added</h4></div>
			{%else%}
				<div class="panel-heading"><h4>{{itemtitle}}</h4></div>
			{% endif %}	
			<table class="table table-hover">
				<tbody>
					{% if displayRecent %}
						{% for item in items %}
							<tr>
								<td class="col-sm-8 col-md-6">
										<div class="media-left">
												<img class="media-object" src="{{ url_for('send_image', filename=item[0].image) }}" style="width: 72px; height: 72px;">
										</div>
										<div class="media-body">
											<h4 class="media-heading"><a href= "{{url_for('showItem', category_name=item[1], item_name=item[0].name)}}">{{item[0].name}}</a></h4>
											<h5><span>Item ID#: </span>{{'{:0>5d}'.format(item[0].id)}}</h5>
											<h5><span>Category: </span>{{item[1]}}</h5>
											<h5><span>Description: </span>{{item[0].desc}}</h5>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					{%else%}
						{% for item in items %}
							<tr>
								<td class="col-sm-8 col-md-6">
									<div class="media-left">
										<img class="media-object" src="{{ url_for('send_image', filename=item.image) }}" style="width: 72px; height: 72px;">
									</div>
									<div class="media-body">													
										<h4 class="media-heading"><a href= "{{url_for('showItem', category_name=category.name, item_name=item.name)}}">{{item.name}}</a></h4>
										<h5><span>Item ID#: </span>{{'{:0>5d}'.format(item.id)}}</h5>
										<h5><span>Category: </span>{{category.name}}</h5>
										<h5><span>Description: </span>{{item.desc}}</h5>						
									</div>
								</td>
							</tr>
						{% endfor %}
					{% endif %}									 
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
