{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
	</div>

    <div class="col-sm-12">
		<h2>Catalog Item</h2>  
		<table class="table">
			<tbody><tr><td>
	
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="{{ url_for('send_image', filename=item.image) }}" style="width: 132px; height: 132px;">
			</div>
			<div class="media-body">
				<p><Strong>Name: </Strong>{{item.name}}</p>
				<p><Strong>Item ID#: </Strong>{{'{:0>5d}'.format(item.id)}}</p>
				<p><Strong>Category: </Strong>{{category_name}}</p>
				<p><Strong>Description: </Strong>{{item.desc}}</p>
				<br>
				{% if itemuser %}
					<p>Item added by {{itemuser.name}} (email: {{itemuser.email}})</p>
				{% endif %}
			</div>
			</td></tr>
			<tr><td>
			<!-- <p><a href="{{url_for('showCategories')}}">Home</a></p> -->
			<p><a href="{{url_for('showCategories')}}">Home</a> | <a href="{{url_for('getImages', category_name=category_name, item_name=item.name)}}">Images</a>
			</td></tr>
		</tbody></table>
		</div>
	</div>

{% endblock %}

